[submodule "calibration_common"]
	path = calibration_common
	url = https://github.com/tobias-holden/calibration_common.git
[submodule "environment_calibration_common"]
	path = environment_calibration_common
	url = https://github.com/tobias-holden/environment_calibration_common.git
